{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="container" style="margin-top: 100px;">
        <div align="center">

            <form>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label for="exampleInputEmail1">Şehir Adı:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Şehir girin">
                    </div>
                </div>
                <button type="submit" style="background-color: orange" class="btn btn-primary">Sorgula</button>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS ve jQuery -->
<!-- Footer -->
{% endblock %}